.address {
    font-size: 14px;
    font-weight: normal;
    white-space: normal;
}

.map {
    width: 100%;
    height: 500px;
}

.ui-content {
	padding-top:70px;
}

.ui-title {
	min-width: 320px;
	overflow: visible;
}